.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.infoBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}
